.CheckoutProgress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    font-size: 2rem;

    .step {
        height: 5px;
        flex: 1;
        background-color: var(--color-checkout-bar-inactive);
        background-image: linear-gradient(var(--primary-base-color),
                var(--primary-base-color));
        background-repeat: no-repeat;
        background-size: 0 100%;
        background-position: 0 0;
        transition:
            background-size 0.2s ease,
            background-position 0.2s ease,
            color 0.2s;

        &:first-of-type,
        &:last-of-type {
            flex: 2;
        }

        &.current,
        &.previous {
            background-size: 100% 100%;
        }
    }

    .checkpoint {
        display: grid;
        place-items: center;
        position: relative;
        color: #9c9c9c;
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
        margin: 10px;
        font-size: 1.3rem;
        font-weight: 700;
        background-color: var(--color-checkout-bar-inactive);
        transition: background-color 0.2s;

        &:hover {
            text-decoration: none !important;
        }

        &::after {
            content: attr(data-value);
            position: absolute;
            top: 130%;
            color: var(--color-checkout-bar-inactive);
            font-size: 1.4rem;
            font-weight: 700;
            width: max-content;
        }

        span {
            display: grid;
            place-items: center;
            height: fit-content;
        }

        &.active {
            background-color: var(--primary-base-color);
            color: white;

            &::after {
                color: black;
            }
        }

        .checkmark {
            width: 1.2rem;
            height: 1.2rem;
            margin: auto;
        }
    }
}